@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #86E3CE , #D0E6A5);
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  color: #fff;
  background: #626262;
}

.btnStart button, .info_box, .quiz_box, .result_box {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
}

.btnStart, .info_box {
    position: absolute;
}

.btnStart button{
    font-size: 25px;
    font-weight: 500;
    color: #84d1bf;
    padding: 15px 30px;
    outline: none;
    border: none;
    background: #fff;
    cursor: pointer;
}

.btnStart button:hover {
  background: #84d1bf;
  color: #fff;
}

.info_box {
  width: 500px;
  height: auto;
  background: #fff;
  padding: 24px 24px;
  pointer-events: none;
  opacity: 0;
}

.info_box ul {
  list-style: none;
}

.info_box header {
  font-size: 24px;
  font-weight: 600;
  color: #6aaf9f;
}

.info_box li {
  margin: 8px 0;
}

.info_box li span {
  color: #6aaf9f;
  font-weight: 600;
}

.info_box .footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.footer button,
.result_box button {
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  margin-left: 12px;
  transition: all 0.3s ease;
}

.footer .btnExit,
.result_box .btnQuit {
  color: #84d1bf;
  border: solid 1px #84d1bf;
  background: #fff;
}

.footer .btnExit:hover,
.result_box .btnQuit:hover {
  background: #84d1bf;
  color: #fff;
}

.footer .btnContinue,
.result_box .btnReplay {
  color: #fff;
  background: #84d1bf;
  border: 1px solid;
}

.footer .btnContinue:hover,
.result_box .btnReplay:hover {
  background: #5d9d8e;
  color: #fff;
}

.quiz_box {
  width: 550px;
  height: auto;
  background: #fff;
  padding: 24px 0px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.quiz_box .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  padding: 0px 12px 12px 12px;
  font-size: 16px;
  box-shadow: 0 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box .head header {
  font-weight: 600;
}

.quiz_box .head .timer {
  background: #c0e8df;
  padding: 4px 12px;
  border: 1px solid #84d1bf;
  border-radius: 8px;
  color: #366358;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  width: 140px;
  justify-content: space-between;
}

.quiz_box .head .timer span {
  background: #4a4a4a;
  color: #fff;
  padding: 1px 8px;
  height: 24px;
  border-radius: 6px;
  margin: 0 4px;
}

.quiz_box .head .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #84d1bf;
}

.quiz_box .body {
  padding: 0px 12px 12px 12px;
}

.quiz_box .body .question{
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
}

.quiz_box .body .option {
  width: 100%;
  height: 45px;
  background: #e4ffdb;
  border: 1px solid #84d1bf;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.quiz_box .body .option:hover {
  background: #b7e3be;
}

.quiz_box .body .option .icon {
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
}

.quiz_box .body .option .icon.tick {
  border-color: #84d1bf;
  background: #fff;
  color: #84d1bf;
}

.quiz_box .body .option .icon.cross {
  border-color: #b3263b;
  background: #fff;
  color: #b3263b;
}

.quiz_box .foot {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 14px;
  padding: 0px 12px 0px 12px;
}

.quiz_box .foot button {
  padding: 8px 12px;
  color: #fff;
  background: #84d1bf;
  border: 1px solid;
  font-size: 14px;
  border-radius: 8px;
}

.quiz_box .foot button:hover {
  background: #4e8175;
}

.quiz_box .foot .current_question,
.quiz_box .foot .total_question_count {
  font-weight: 600;
}

.result_box {
  width: 400px;
  height: auto;
  background: #fff;
  padding: 24px 24px;
  text-align: center;
  pointer-events: none;
  opacity: 0;
}

.result_box i {
  font-size: 60px;
  margin: 12px 0;
  color: #84d1bf;
}

.result_box .congrat,
.result_box .result {
  margin: 12px 0;
  font-weight: 600;
}
